<template>
  <div class="container">
    <h1>{{ $route.params.id }}</h1>
  </div>
</template>

<style>
.container {
  margin: 0 auto;
  min-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
</style>