<template>
    <footer>
        <p>Copyright &copy; 2024 All Rights Reserved.</p>
    </footer>
</template>

<style>
footer {
    background: #1A1E25;
    color: #868c96;
}

footer p {
    padding: 40px 0;
    text-align: center;
}
</style>