<template>
  <header class="site-header">
    <div class="site-identity">
      <h1><a href="#">Nuxt</a></h1>
    </div>
    <nav class="site-navigation">
      <ul class="nav">
        <li><a href="#">About</a></li>
        <li><a href="/products">Products</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
  </header>
</template>

<style>
header {
  background: #1a1e25;
}
a {
  text-decoration: none;
  color: white;
}
.site-header {
  border-bottom: 1px solid #ccc;
  padding: 0.5em 1em;
  display: flex;
  justify-content: space-between;
}

.site-identity h1 {
  font-size: 1.5em;
  margin: 0.6em 0;
  display: inline-block;
}

.site-navigation ul,
.site-navigation li {
  margin: 0;
  padding: 0;
}

.site-navigation li {
  display: inline-block;
  margin: 1.4em 1em 1em 1em;
}
</style>


<script>
export default {
 
}
</script>