<template>
  <div class="container">
    <h1>Product Page</h1>
  </div>
</template>

<style>
.container {
  margin: 0 auto;
  text-align: center;
}
.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: auto;
  grid-gap: 1rem;
}
.post-card {
  border: 2px solid teal;
  border-radius: 4px;
  padding: 0.5rem;
  margin: 10px 0 10px 0;
}
</style>
