<template>
  <div>
    <LazyProduct></LazyProduct>
    <div class="posts">
      <div class="post-card" v-for="post in posts" :key="post.id">
        <div class="post-card-body">
          <h3>{{ post.title }}</h3>
          <p>{{ post.body }}</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  //layout: 'profile',
  // layout: 'auth',
  middleware: 'product',
  
  head(){
    return{
      title : 'products',
      meta: [
      { hid: 'description',
        name: 'description', 
        content: 'this is a product page'}
    ],
    }
  },

//***asyncData****//
  asyncData({ $axios }) {
    return $axios
      .$get("https://jsonplaceholder.typicode.com/posts")
      .then((res) => {
        return {
          posts: res,
        };
      });
  },

//***fetch****//

  // async fetch() {
  //     this.posts = await fetch('https://jsonplaceholder.typicode.com/posts').then(res =>
  //       res.json()
  //     )
  //   },

//***fetch & localstorage****//

  // async fetch() {
  //     this.posts = await fetch('https://jsonplaceholder.typicode.com/posts').then(res =>
  //       res.json()
  //     )
  //     if(process.client){
  //       localStorage.setItem('posts', JSON.stringify(this.posts))
  //     }
  //   },

    data() {
    return {
      posts: [],
    };
  },


}
</script>
